<body>
  <nav class="nav-extended grey darken-2">
    <div class="nav-background">
      <div class="pattern active" style="background-image: url('http://i.imgur.com/7Il5O29.png');"></div>
    </div>
    <div class="nav-wrapper container">
      <a href="index.html" class="brand-logo"><a href="index.html" class="brand-logo"><%= image_tag("UEFA.png", :alt => "rss feed") %></a></a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "My Slideshows", root_path %></li>
        <li><a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true" data-constrainWidth="false">Bill Hewitt<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id='feature-dropdown' class='dropdown-content'>
        <li><%= link_to "My Account", pages_myaccount_path %></li>
        <li><a href="horizontal.html">Logout</a></li>
      </ul>

      <div class="nav-header center">
        <h1>MY ACCOUNT</h1>
        <div class="tagline"><i class="fa ellipses-h"></i></div>
      </div>
    </div>

    <!-- Fixed Masonry Filters -->

    <div class="nav-content grey darken-3">
      <div class="container">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="active" href="#test1">Profile</a></li>
          <li class="tab"><a href="#test2">Password</a></li>
          <li class="tab"><a href="#test3">Instagram Account</a></li>
        </ul>
    </div>
    </nav>

  </nav>
  <ul class="side-nav" id="nav-mobile">
    <li class="active"><a href="index.html"><i class="material-icons">camera</i>My Slideshows</a></li>
    <li><a href="full-header.html"><i class="material-icons">fullscreen</i>My Account</a></li>
    <li><a href="horizontal.html"><i class="material-icons">swap_horiz</i>Logout</a></li>
  </ul>

  <!-- End Navigation -->

  <!-- Start Background -->

   <div id="portfolio" class="section gray fullpage">
      <div class="container">

        <div id="test1" class="col s12"><!-- Start Profile tab -->
          <br>

          <div class="row">
            <div class="input-field col s12 m6">
              <input value="Bill" id="first_name2" type="text" class="validate">
              <label class="active" for="first_name2">First Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m6">
              <input value="Hewitt" id="first_name2" type="text" class="validate">
              <label class="active" for="first_name2">Last Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m6">
              <input value="billhewitt22@googlemail.com" id="first_name2" type="text" class="validate">
              <label class="active" for="first_name2">Email Address</label>
            </div>
          </div>

          <div class="row button">
            <div class="input-field col s12 m6">
              <div class="right">
                <a class="waves-effect waves-light btn">Save</a>
              </div>
            </div>
          </div>


        </div><!-- End Profile tab -->
        <div id="test2" class="col s12"><!-- Start Password tab -->

        <br>

          <div class="row">
            <div class="input-field col s12 m6">
              <input value="************" id="first_name2" type="text" class="validate">
              <label class="active" for="first_name2">Current Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m6">
              <input placeholder="" ="New Password" id="first_name2" type="text" class="validate">
              <label class="active" for="first_name2">New Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m6">
              <input placeholder="" ="Repeat New Password" id="first_name2" type="text" class="validate">
              <label class="active" for="first_name2">Repeat New Password</label>
            </div>
          </div>

          <div class="row button">
            <div class="input-field col s12 m6">
              <div class="right">
                <a class="waves-effect waves-light btn">Save</a>
              </div>
            </div>
          </div>



        </div><!-- End Password tab -->
        <div id="test3" class="col s12">

        <br>

          <div class="row">
            <div class="input-field col s12 m6">
              <input value="@billbill2210" id="first_name2" type="text" class="validate">
              <label class="active" for="first_name2">Instagram Account</label>
            </div>
          </div>
          <div class="row button">
            <div class="input-field col s12 m6">
              <div class="right">
                <a class="waves-effect waves-light btn">Unlink Account</a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>



  <script type="text/javascript">
   $(".button-collapse").sideNav();

    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>