<div class="row">
	<div class="col l12">
		<h1 class="center-align">#GIGGSHOUR</h1>
	</div>
</div>

<br>
<br>
<br>
<div class="row">
	<div class="col l3">
		<div class="card">
	        <div class="card-image">
	          <img src="http://placehold.it/400x300">
	        </div>
	        <div class="card-content">
	        	<div class="row">
	        		<div class="col l3">
	          <img src="http://i.pravatar.cc/300" alt="" class="circle responsive-img">
	          		</div>
	          		<div class="col l9">
	          			<p><b class="truncate">Lovin' my time at this event</b></p>
	          			<p class="truncate">#havingfun #giggshour #hellomum</p>
	          		</div>
	          	</div>
	        </div>
      </div>
	</div>

	<div class="col l3">
		<div class="card">
	        <div class="card-image">
	          <img src="http://placehold.it/400x300">
	        </div>
	        <div class="card-content">
	        	<div class="row">
	        		<div class="col l3">
	          <img src="http://i.pravatar.cc/150?u=fake@pravatar.com" alt="" class="circle responsive-img">
	          		</div>
	          		<div class="col l9">
	          			<p><b class="truncate">Best event ever, look at my picture!</b></p>
	          			<p class="truncate">#havingfun #giggshour #hellomum</p>
	          		</div>
	          	</div>
	        </div>
      </div>
	</div>

	<div class="col l3">
		<div class="card">
	        <div class="card-image">
	          <img src="http://placehold.it/400x300">
	        </div>
	        <div class="card-content">
	        	<div class="row">
	        		<div class="col l3">
	          <img src="http://i.pravatar.cc/150?img=3" alt="" class="circle responsive-img">
	          		</div>
	          		<div class="col l9">
	          			<p><b class="truncate">I'm going to write a long description so that people know exactly what I'm up to</b></p>
	          			<p class="truncate">#havingfun #giggshour #hellomum</p>
	          		</div>
	          	</div>
	        </div>
      </div>
	</div>

	<div class="col l3">
		<div class="card">
	        <div class="card-image">
	          <img src="http://placehold.it/400x300">
	        </div>
	        <div class="card-content">
	        	<div class="row">
	        		<div class="col l3">
	          <img src="http://i.pravatar.cc/150?img=4" alt="" class="circle responsive-img">
	          		</div>
	          		<div class="col l9">
	          			<p><b class="truncate">BBOM!</b></p>
	          			<p class="truncate">#havingfun #giggshour #hellomum</p>
	          		</div>
	          	</div>
	        </div>
      </div>
	</div>
</div>